vim/ruby/command-t/Makefile
vim/ruby/command-t/ext.so
vim/ruby/command-t/match.o
vim/ruby/command-t/matcher.o
vim/ruby/command-t/mkmf.log
vim/ruby/command-t/ext.o
vim/.netrwhist
*.swo
*.swp
systemd/user/default.target.wants
vim/bundle
