vim/ruby/command-t/Makefile
vim/ruby/command-t/ext.so
vim/ruby/command-t/match.o
vim/ruby/command-t/matcher.o
vim/ruby/command-t/mkmf.log
vim/ruby/command-t/ext.o
vim/.netrwhist
*.swo
*.swp
vim/bundle
systemd/user/default.target.wants/
systemd/user/sockets.target.wants
bin/python
bin/python-config
