[Unit]
Description=Emacs text editor
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/

[Service]
Type=forking
ExecStartPre=/home/maca/bin/start-ssh-agent.sh
ExecStart=/usr/bin/emacs --daemon
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
Environment=SSH_AUTH_SOCK=%t/keyring/ssh
Environment="Path=/home/maca/.cabal/bin:/home/maca/.ghcup/bin:/home/maca/.yarn/bin:/usr/lib/ruby/gems/3.0.0/bin:/home/maca/.local/share/gem/ruby/3.0.0/bin:/usr/local/sbin:/usr/local/bin:/usr/bin:/usr/bin/site_perl:/usr/bin/vendor_perl:/usr/bin/core_perl:/home/maca/.go/bin:/home/maca/bin"
Restart=on-failure

[Install]
WantedBy=default.target