[Unit]
Description=Switch monitor layout


[Service]
Environment=DISPLAY=:0
Environment=MONITOR_HOTPLUGGED=1
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/maca/bin/monitors
StandardOutput=journal


[Install]
WantedBy=multi-user.target