[Unit]
Description=SSH tunnel for %I
After=network.target

[Service]
Environment="ARGS=%I"
ExecStart=/usr/bin/sh -c "echo $ARGS | tr -s '/' ' ' | xargs /home/maca/bin/tunnel"
StandardOutput=syslog
StandardError=syslog
Restart=on-failure
RestartSec=300

[Install]
WantedBy=default.target
