[Unit]
Description=SSH tunnel for %I
After=network.target

[Service]
Environment="ARGS=%I"
ExecStart=/home/maca/bin/tunnel $ARGS
StandardOutput=syslog
StandardError=syslog
Restart=on-failure
RestartSec=300

[Install]
WantedBy=default.target
